@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*#region nav*/
nav {
  width: 100%;
  height: 4.94vw;
  position: fixed;
  z-index: 10;
  background-color: #000000;
}

@media (max-width: 375px) {
  nav {
    height: 16vw;
  }
}

@media (max-width: 768px) {
  nav {
    height: 7.16vw;
  }
}

nav .nav-container {
  padding: 1.3vw 2.6vw 0 1.56vw;
}

@media (max-width: 375px) {
  nav .nav-container {
    padding: 3.63vw 4vw 0 4vw;
  }
}

@media (max-width: 768px) {
  nav .nav-container {
    padding: 1.39vw 3.9vw 0 3.9vw;
  }
}

nav .nav-container .logo {
  width: 15.52%;
  cursor: pointer;
}

@media (max-width: 375px) {
  nav .nav-container .logo {
    width: 55.82%;
  }
}

@media (max-width: 768px) {
  nav .nav-container .logo {
    width: 26.04%;
  }
}

nav .nav-container .sound {
  width: 2.18%;
  float: right;
  padding-top: 0.07vw;
  display: block;
  cursor: pointer;
}

@media (max-width: 375px) {
  nav .nav-container .sound {
    width: 6.21%;
    padding-top: 1.65vw;
  }
}

@media (max-width: 768px) {
  nav .nav-container .sound {
    width: 3.03%;
    padding-top: 0.7vw;
  }
}

/*#endregion*/
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 50vw;
  position: relative;
}

.background {
  position: absolute;
}

/*#region banner-1*/
.banner-1 {
  width: 100%;
  padding-top: 6.95vw;
}

@media (max-width: 375px) {
  .banner-1 {
    height: 176.91vw;
    padding-top: 28.53vw;
  }
}

@media (max-width: 768px) {
  .banner-1 {
    height: 176.91vw;
    padding-top: 10.59vw;
  }
}

.banner-1 .slogn-1 {
  width: 20.63%;
  margin-left: 5.27vw;
  margin-bottom: 1.02vw;
  display: block;
}

@media (max-width: 375px) {
  .banner-1 .slogn-1 {
    width: 46.05%;
    margin-left: 8.94vw;
    margin-bottom: 3.29vw;
  }
}

.banner-1 .slogn-2 {
  width: 42.21%;
  margin-left: 2.86vw;
  margin-bottom: 1.67vw;
  display: block;
}

@media (max-width: 375px) {
  .banner-1 .slogn-2 {
    width: 94.42%;
    margin-left: 2.84%;
    margin-bottom: 3.62vw;
  }
}

.banner-1 .slognAbreast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2.86vw;
  margin-bottom: 0.9vw;
}

@media (max-width: 375px) {
  .banner-1 .slognAbreast {
    margin-left: 3.07vw;
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.banner-1 .slognAbreast .slogn-3 {
  width: 27.3%;
  margin-right: 2.64vw;
}

@media (max-width: 375px) {
  .banner-1 .slognAbreast .slogn-3 {
    width: 91.74%;
    margin-right: 0;
    margin-bottom: 5.85vw;
  }
}

.banner-1 .slognAbreast .logo-computer {
  width: 8.09%;
}

@media (max-width: 375px) {
  .banner-1 .slognAbreast .logo-computer {
    display: none;
  }
}

.banner-1 .slognAbreast .logo-phone {
  width: 29.68%;
  margin-left: 6.59vw;
  display: none;
}

@media (max-width: 375px) {
  .banner-1 .slognAbreast .logo-phone {
    display: block;
  }
}

.banner-1 .slogn-4 {
  width: 20.26%;
  margin-left: 2.86vw;
  display: block;
}

@media (max-width: 375px) {
  .banner-1 .slogn-4 {
    display: none;
  }
}

.banner-1 .banner-1-lantern-computer {
  width: 72.08%;
  left: 27.89vw;
  top: 4.94vw;
}

@media (max-width: 375px) {
  .banner-1 .banner-1-lantern-computer {
    display: none;
  }
}

.banner-1 .banner-1-lantern-phone {
  width: 63.69%;
  left: 55.17vw;
  top: 21.33vw;
  display: none;
}

@media (max-width: 375px) {
  .banner-1 .banner-1-lantern-phone {
    display: block;
  }
}

.banner-1 .banner-1-star {
  width: 8.09%;
  left: 46.09vw;
  top: 9.58vw;
}

@media (max-width: 375px) {
  .banner-1 .banner-1-star {
    width: 98.34%;
    left: 0.36vw;
    top: 82.1vw;
  }
}

.banner-1 .banner-1-unicorn {
  width: 50.46%;
  left: 46.09vw;
  bottom: 2.14vw;
  z-index: 2;
}

@media (max-width: 375px) {
  .banner-1 .banner-1-unicorn {
    width: 85.83%;
    left: 19.77vw;
    bottom: 18.09vw;
  }
}

.banner-1 .tigerBady {
  width: 18.43%;
  left: 33.2vw;
  bottom: 3.43vw;
  z-index: 1;
}

@media (max-width: 375px) {
  .banner-1 .tigerBady {
    width: 32.59%;
    left: 0;
    bottom: 17.93vw;
  }
}

.banner-1 .banner-1-build-computer {
  width: 100%;
  left: 0;
  bottom: 0;
}

@media (max-width: 375px) {
  .banner-1 .banner-1-build-computer {
    display: none;
  }
}

.banner-1 .banner-1-build-phone {
  width: 134.76%;
  left: -26.46vw;
  bottom: 16vw;
  display: none;
}

@media (max-width: 375px) {
  .banner-1 .banner-1-build-phone {
    display: block;
  }
}

.banner-1 .banner-1-redcloth-computer {
  width: 100%;
  left: 0;
  bottom: 0vw;
  display: block;
}

@media (max-width: 375px) {
  .banner-1 .banner-1-redcloth-computer {
    width: 122.86%;
    left: -11.08vw;
  }
}

.banner-1 .banner-1-redcloth-phone {
  width: 122.86vw;
  left: -11.09vw;
  bottom: 0;
  display: none;
}

@media (max-width: 375px) {
  .banner-1 .banner-1-redcloth-phone {
    display: block;
  }
}

.banner-1 .brand {
  width: 2.15%;
  right: 1.56vw;
  bottom: 4.57vw;
}

@media (max-width: 375px) {
  .banner-1 .brand {
    display: none;
  }
}

.banner-1 .banner-1-video-background-computer {
  width: 100%;
  top: 4.94vw;
  left: 0;
  z-index: -1;
}

@media (max-width: 375px) {
  .banner-1 .banner-1-video-background-computer {
    display: none;
  }
}

/*#endregion*/
/*#region banner-2*/
.banner-2 {
  width: 100%;
  padding-top: 5.21vw;
}

@media (max-width: 375px) {
  .banner-2 {
    height: 244.19vw;
    padding-top: 6.35vw;
  }
}

.banner-2 .banner-2-title {
  width: 29.13%;
  margin: 0 auto 4.49vw;
  display: block;
}

@media (max-width: 375px) {
  .banner-2 .banner-2-title {
    width: 61.28%;
    margin: 0 auto 8.11vw;
  }
}

.banner-2 .swiper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 80.74vw;
}

@media (max-width: 375px) {
  .banner-2 .swiper-container {
    margin: 0 0;
    width: 100vw;
  }
}

.banner-2 .swiper-container .swiper-button-prev {
  position: static;
  content: url("./img/banner-2/svg/箭頭-左.svg");
  width: 1.18%;
  display: block;
  z-index: 0;
}

@media (max-width: 375px) {
  .banner-2 .swiper-container .swiper-button-prev {
    display: none;
  }
}

.banner-2 .swiper-container .swiper {
  width: 74.21vw;
  height: 13.8vw;
  margin-left: 2.08vw;
  margin-right: 2.08vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 375px) {
  .banner-2 .swiper-container .swiper {
    width: 100vw;
    height: 53.33vw;
    margin-left: 3.96vw;
    margin-bottom: 10.36vw;
  }
}

.banner-2 .swiper-container .swiper .swiper-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.banner-2 .swiper-container .swiper .swiper-wrapper .swiper-slide {
  width: 13.8vw !important;
  margin-left: 1.3vw;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 375px) {
  .banner-2 .swiper-container .swiper .swiper-wrapper .swiper-slide {
    width: 53.33vw !important;
    height: 53.33vw !important;
    margin-left: 4vw;
  }
}

.banner-2 .swiper-container .swiper .swiper-wrapper .swiper-slide .swiper-img {
  width: 13.8vw;
  display: block;
}

@media (max-width: 375px) {
  .banner-2 .swiper-container .swiper .swiper-wrapper .swiper-slide .swiper-img {
    width: 53.33vw;
  }
}

.banner-2 .swiper-container .swiper .swiper-wrapper .swiper-slide-1 {
  margin-left: 0;
}

.banner-2 .swiper-container .swiper-button-next {
  content: url("./img/banner-2/svg/箭頭-右.svg");
  width: 1.18%;
  position: static;
  display: block;
  z-index: 0;
}

@media (max-width: 375px) {
  .banner-2 .swiper-container .swiper-button-next {
    display: none;
  }
}

.banner-2 .banner-2-star-computer {
  width: 93.09%;
  top: 31.36vw;
  left: 5.26vw;
}

@media (max-width: 375px) {
  .banner-2 .banner-2-star-computer {
    display: none;
  }
}

.banner-2 .banner-2-star-phone {
  width: 101.84%;
  top: 70.56vw;
  left: 4.16vw;
  display: none;
}

@media (max-width: 375px) {
  .banner-2 .banner-2-star-phone {
    display: block;
  }
}

.banner-2 .banner-2-unicorn {
  width: 18.07%;
  bottom: 0;
  left: 3.95vw;
  z-index: 2;
}

@media (max-width: 375px) {
  .banner-2 .banner-2-unicorn {
    width: 43.79%;
    bottom: 1.26vw;
    left: 1.85vw;
  }
}

.banner-2 .banner-2-video-unicorn {
  width: 19.07%;
  bottom: 0.1vw;
  left: 3.4vw;
  z-index: 2;
}

@media (max-width: 375px) {
  .banner-2 .banner-2-video-unicorn {
    width: 43.79%;
    bottom: -0.74vw;
    left: 1.85vw;
  }
}

.banner-2 .banner-2-build-computer {
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
}

@media (max-width: 375px) {
  .banner-2 .banner-2-build-computer {
    display: none;
  }
}

.banner-2 .banner-2-build-phone {
  width: 115.25%;
  left: -6.73vw;
  bottom: 0;
  display: none;
}

@media (max-width: 375px) {
  .banner-2 .banner-2-build-phone {
    display: block;
  }
}

.banner-2 .plate-container-computer {
  margin-left: 23.38%;
  bottom: 2.34vw;
}

@media (max-width: 375px) {
  .banner-2 .plate-container-computer {
    display: none;
  }
}

.banner-2 .plate-computer {
  width: 10.98vw;
  margin-left: 1vw;
  cursor: pointer;
  z-index: -1;
}

@media (max-width: 375px) {
  .banner-2 .plate-computer {
    display: none;
  }
}

.banner-2 .plate-1-computer {
  margin-left: 0;
}

.banner-2 .plate-container-phone {
  width: 100vw;
  height: 108vw;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 375px) {
  .banner-2 .plate-container-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.banner-2 .plate-phone {
  width: 80vw;
  display: none;
}

@media (max-width: 375px) {
  .banner-2 .plate-phone {
    display: block;
  }
}

/*#endregion*/
/*#region banner-3*/
.banner-3 {
  padding-top: 7.16vw;
  padding-left: 21.72vw;
}

@media (max-width: 375px) {
  .banner-3 {
    height: 192.38vw;
    padding-top: 10.68vw;
    padding-left: 0;
  }
}

.banner-3 .games-information {
  width: 9.68%;
  height: 33.56vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 375px) {
  .banner-3 .games-information {
    height: 132.34vw;
    margin: 0 auto;
  }
}

.banner-3 .games-information .banner-3-title-computer {
  width: calc(6.14vw - 17px);
}

@media (max-width: 375px) {
  .banner-3 .games-information .banner-3-title-computer {
    display: none;
  }
}

.banner-3 .games-information .banner-3-title-phone {
  width: calc(41.95vw - 17px);
  display: none;
}

@media (max-width: 375px) {
  .banner-3 .games-information .banner-3-title-phone {
    display: block;
  }
}

.banner-3 .games-information .games {
  width: 42vw;
  position: absolute;
  top: 7.03vw;
  left: 33.48vw;
  z-index: 1;
}

@media (max-width: 375px) {
  .banner-3 .games-information .games {
    width: 92.51vw;
    height: 91.07vw;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.banner-3 .games-information .games .games-btn {
  width: 13.12vw;
  cursor: pointer;
}

@media (max-width: 375px) {
  .banner-3 .games-information .games .games-btn {
    width: 30.05vw;
    display: block;
  }
}

.banner-3 .games-information .lottery-computer {
  width: 9.68vw;
}

@media (max-width: 375px) {
  .banner-3 .games-information .lottery-computer {
    display: none;
  }
}

.banner-3 .games-information .lottery-phone {
  width: calc(80.53vw - 17px);
  margin: 0 auto;
  display: none;
}

@media (max-width: 375px) {
  .banner-3 .games-information .lottery-phone {
    display: block;
  }
}

.banner-3 .banner-3-star-computer {
  width: 94.46%;
  top: 5.95vw;
  left: 2.14vw;
}

@media (max-width: 375px) {
  .banner-3 .banner-3-star-computer {
    display: none;
  }
}

.banner-3 .banner-3-star-phone {
  width: 100.98%;
  top: 3.87vw;
  left: 0.36vw;
  display: none;
}

@media (max-width: 375px) {
  .banner-3 .banner-3-star-phone {
    display: block;
  }
}

.banner-3 .banner-3-lantern {
  width: 19.91%;
  top: 21.14vw;
  left: -1.33vw;
}

@media (max-width: 375px) {
  .banner-3 .banner-3-lantern {
    width: 31.35%;
    top: auto;
    left: -6.7vw;
    bottom: 19.63vw;
  }
}

.banner-3 .banner-3-bridge {
  width: 24.82%;
  left: 0.78vw;
  bottom: -0.16vw;
  z-index: -3;
}

@media (max-width: 375px) {
  .banner-3 .banner-3-bridge {
    width: 53.98%;
    left: -2.83vw;
    bottom: -0.58vw;
  }
}

.banner-3 .banner-3-cloud-4 {
  width: 22.61%;
  left: 1.61vw;
  bottom: -0.65vw;
  z-index: -1;
}

@media (max-width: 375px) {
  .banner-3 .banner-3-cloud-4 {
    width: 43.1%;
    left: -0.2vw;
    bottom: -0.65vw;
  }
}

.banner-3 .banner-3-cloud-5 {
  width: 20.89%;
  left: -2.16vw;
  bottom: -0.74vw;
  z-index: -2;
}

@media (max-width: 375px) {
  .banner-3 .banner-3-cloud-5 {
    width: 39.81%;
    left: -8.15vw;
    bottom: -0.58vw;
  }
}

.banner-3 .banner-3-cloud-1 {
  width: 14.22%;
  right: -1.42vw;
  bottom: -0.51vw;
  z-index: -1;
}

@media (max-width: 375px) {
  .banner-3 .banner-3-cloud-1 {
    width: 31.83%;
    bottom: 0;
    right: 4.78vw;
  }
}

.banner-3 .banner-3-cloud-2 {
  width: 19.71%;
  right: -0.89vw;
  bottom: -0.63vw;
  z-index: -2;
}

@media (max-width: 375px) {
  .banner-3 .banner-3-cloud-2 {
    width: 44.13%;
    right: -10.21vw;
    bottom: 0;
  }
}

.banner-3 .banner-3-unicorn {
  width: 17.66%;
  right: 6.37vw;
  bottom: 1.06vw;
  z-index: -3;
}

@media (max-width: 375px) {
  .banner-3 .banner-3-unicorn {
    width: 39.55%;
    right: 6.02%;
    bottom: 3.06vw;
  }
}

.banner-3 .banner-3-video-unicorn {
  width: 24.5%;
  right: 4.8vw;
  bottom: 0.6vw;
  z-index: -3;
}

@media (max-width: 375px) {
  .banner-3 .banner-3-video-unicorn {
    width: 39.55%;
    right: 6.02%;
    bottom: 3.06vw;
  }
}

.banner-3 .banner-3-cloud-3 {
  width: 18.82%;
  right: -3.86vw;
  bottom: -0.75vw;
  z-index: -4;
}

@media (max-width: 375px) {
  .banner-3 .banner-3-cloud-3 {
    width: 42.15%;
    right: -16.64vw;
    bottom: 0;
  }
}

.banner-3 .banner-3-moon {
  width: 13.68%;
  right: 0;
  bottom: 5.97vw;
  z-index: -5;
}

@media (max-width: 375px) {
  .banner-3 .banner-3-moon {
    width: 30.62vw;
    right: -8.27vw;
    bottom: 14.11vw;
  }
}

/*#endregion*/
/*#region banner-4*/
.banner-4 {
  z-index: 0;
  background-color: #000000;
  padding-top: 14.31vw;
}

@media (max-width: 375px) {
  .banner-4 {
    height: 128.31vw;
    padding-top: 26.3vw;
  }
}

.banner-4 .banner-4-title {
  width: 14.94vw;
  margin: 0 auto 2.39vw;
  display: block;
}

@media (max-width: 375px) {
  .banner-4 .banner-4-title {
    width: 42.25vw;
    margin: 0 auto 8.04vw;
  }
}

.banner-4 .swiper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 80.74vw;
}

@media (max-width: 375px) {
  .banner-4 .swiper-container {
    margin: 0;
    width: 100vw;
  }
}

.banner-4 .swiper-container .swiper-button-prev {
  position: static;
  content: url("./img/banner-2/svg/箭頭-左.svg");
  width: 1.18%;
  display: block;
  margin-top: 0;
}

@media (max-width: 375px) {
  .banner-4 .swiper-container .swiper-button-prev {
    display: none;
  }
}

.banner-4 .swiper-container .swiper {
  width: 73.74vw;
  height: 11.87vw;
  margin-left: 2.29vw;
  margin-right: 2.29vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 375px) {
  .banner-4 .swiper-container .swiper {
    width: 100vw;
    margin-left: 4vw;
    margin-right: 0;
    height: 44.73vw;
  }
}

.banner-4 .swiper-container .swiper .swiper-wrapper .swiper-slide {
  width: 21.35vw !important;
  margin-left: 0.8vw;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 375px) {
  .banner-4 .swiper-container .swiper .swiper-wrapper .swiper-slide {
    width: 80.44vw !important;
    height: 44.73 !important;
    margin-left: 3.13vw;
  }
}

.banner-4 .swiper-container .swiper .swiper-wrapper .swiper-slide .swiper-img {
  width: 21.35vw;
  display: block;
}

@media (max-width: 375px) {
  .banner-4 .swiper-container .swiper .swiper-wrapper .swiper-slide .swiper-img {
    width: 80.44vw !important;
  }
}

.banner-4 .swiper-container .swiper .swiper-wrapper .swiper-slide-1 {
  margin-left: 0;
}

.banner-4 .swiper-container .swiper-button-next {
  content: url("./img/banner-2/svg/箭頭-右.svg");
  width: 1.18%;
  position: static;
  display: block;
  margin-top: 0;
}

@media (max-width: 375px) {
  .banner-4 .swiper-container .swiper-button-next {
    display: none;
  }
}

.banner-4 .banner-4-lantern {
  width: 111.83%;
  top: 0;
}

@media (max-width: 375px) {
  .banner-4 .banner-4-lantern {
    width: 166.61%;
    left: -33.61%;
  }
}

.banner-4 .role-1 {
  width: 8.11%;
  left: 12.27vw;
  bottom: 0.47vw;
}

@media (max-width: 375px) {
  .banner-4 .role-1 {
    width: 16.1%;
    left: 0.39vw;
    bottom: 1.27vw;
  }
}

.banner-4 .role-2 {
  width: 10.74%;
  left: 17.95vw;
  bottom: 0.38vw;
}

@media (max-width: 375px) {
  .banner-4 .role-2 {
    width: 21.33%;
    left: 11.74vw;
    bottom: 1.08vw;
  }
}

.banner-4 .role-3 {
  width: 7.61%;
  left: 28.15vw;
  bottom: 0;
}

@media (max-width: 375px) {
  .banner-4 .role-3 {
    width: 15.11vw;
    left: 32.96vw;
    bottom: 0.33vw;
  }
}

.banner-4 .role-4 {
  width: 10.78%;
  left: 62.82vw;
  bottom: 0.47vw;
}

@media (max-width: 375px) {
  .banner-4 .role-4 {
    width: 21.05vw;
    left: 50.25vw;
    bottom: 0.86vw;
  }
}

.banner-4 .role-5 {
  width: 9.75%;
  left: 72.04vw;
  bottom: 0.47vw;
}

@media (max-width: 375px) {
  .banner-4 .role-5 {
    width: 19.06vw;
    left: 68.34vw;
    bottom: 0.86vw;
  }
}

.banner-4 .role-6 {
  width: 7.24%;
  left: 80.53vw;
  bottom: 0.47vw;
}

@media (max-width: 375px) {
  .banner-4 .role-6 {
    width: 14.14vw;
    left: 85.08vw;
    bottom: 0.86vw;
  }
}

.banner-4 .banner-4-build {
  width: 104.21%;
  bottom: 1.33vw;
  z-index: -2;
}

@media (max-width: 375px) {
  .banner-4 .banner-4-build {
    width: 112.85vw;
    left: -3.58vw;
    bottom: 3.37vw;
  }
}

.banner-4 .banner-4-redcloth-computer {
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 375px) {
  .banner-4 .banner-4-redcloth-computer {
    display: none;
  }
}

.banner-4 .banner-4-redcloth-phone {
  width: 101.77vw;
  left: -0.92vw;
  bottom: 0;
  z-index: -1;
  display: none;
}

@media (max-width: 375px) {
  .banner-4 .banner-4-redcloth-phone {
    display: block;
  }
}

.banner-4 .banner-4-video-background-computer {
  bottom: 0;
  z-index: -3;
}

@media (max-width: 375px) {
  .banner-4 .banner-4-video-background-computer {
    display: none;
  }
}

.banner-4 .banner-4-video-background-phone {
  bottom: 0;
  z-index: -3;
  display: none;
}

@media (max-width: 375px) {
  .banner-4 .banner-4-video-background-phone {
    display: block;
  }
}

/*#endregion*/
/*# sourceMappingURL=index.css.map */