@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

nav {
  width: 100vw;
  height: 4.94vw;
  position: fixed;
  z-index: 10;
  background-color: #000000;
}

@media (max-width: 375px) {
  nav {
    height: 16vw;
  }
}

nav .nav-container {
  padding: 1.3vw calc(2.60vw + 0.88vw) 0 1.56vw;
}

@media (max-width: 375px) {
  nav .nav-container {
    padding: 3.63vw calc(4vw + 4.53vw) 0 4vw;
  }
}

nav .nav-container .logo {
  width: 15.52vw;
  cursor: pointer;
}

@media (max-width: 375px) {
  nav .nav-container .logo {
    width: 55.82vw;
  }
}

nav .nav-container .sound {
  width: 2.18vw;
  float: right;
  padding-top: 0.07vw;
  display: block;
  cursor: pointer;
}

@media (max-width: 375px) {
  nav .nav-container .sound {
    width: 6.21vw;
    padding-top: 1.65vw;
  }
}

.container {
  width: 100%;
  height: 50vw;
  position: relative;
}

.background {
  position: absolute;
}

.banner-1 {
  width: 100%;
  padding-top: 6.95vw;
}

@media (max-width: 375px) {
  .banner-1 {
    height: 176.91vw;
    padding-top: 28.53vw;
  }
}

.banner-1 .slogn-1 {
  width: 20.63vw;
  margin-left: 5.27vw;
  margin-bottom: 1.02vw;
  display: block;
}

@media (max-width: 375px) {
  .banner-1 .slogn-1 {
    width: 46.05vw;
    margin-left: 8.94vw;
    margin-bottom: 3.29vw;
  }
}

.banner-1 .slogn-2 {
  width: 42.21vw;
  margin-left: 2.86vw;
  margin-bottom: 1.67vw;
  display: block;
}

@media (max-width: 375px) {
  .banner-1 .slogn-2 {
    width: 94.42%;
    margin-left: 2.84%;
    margin-bottom: 3.62vw;
  }
}

.banner-1 .slognAbreast {
  display: flex;
  align-items: center;
  margin-left: 2.86vw;
  margin-bottom: 0.90vw;
}

@media (max-width: 375px) {
  .banner-1 .slognAbreast {
    margin-left: 3.07vw;
    margin-bottom: 0;
    flex-direction: column;
    align-items: flex-start;
  }
}

.banner-1 .slognAbreast .slogn-3 {
  width: 27.30%;
  margin-right: 2.64vw;
}

@media (max-width: 375px) {
  .banner-1 .slognAbreast .slogn-3 {
    width: 91.74%;
  }
}

.banner-1 .slognAbreast .logo {
  width: 8.09%;
}

@media (max-width: 375px) {
  .banner-1 .slognAbreast .logo {
    width: 29.68%;
  }
}

.banner-1 .slogn-4 {
  width: 20.26vw;
  margin-left: 2.86vw;
  display: block;
}

.banner-1 .banner-1-lantern-computer {
  width: 72.08vw;
  left: 27.89vw;
  top: 4.94vw;
}

@media (max-width: 375px) {
  .banner-1 .banner-1-lantern-computer {
    display: none;
  }
}

.banner-1 .banner-1-lantern-phone {
  width: 63.69vw;
  left: 55.17vw;
  top: 21.33vw;
  display: none;
}

@media (max-width: 375px) {
  .banner-1 .banner-1-lantern-phone {
    display: block;
  }
}

.banner-1 .banner-1-star {
  width: 8.09vw;
  left: 46.09vw;
  top: 9.58vw;
}

@media (max-width: 375px) {
  .banner-1 .banner-1-star {
    width: 98.34vw;
    left: 0.36vw;
    top: 82.10vw;
  }
}

.banner-1 .banner-1-unicorn {
  width: 50.46vw;
  left: 46.09vw;
  bottom: 2.14vw;
  z-index: 2;
}

.banner-1 .tigerBady {
  width: 18.43vw;
  left: 33.20vw;
  bottom: 3.43vw;
  z-index: 1;
}

@media (max-width: 375px) {
  .banner-1 .tigerBady {
    width: 32.59vw;
    left: 0;
    bottom: 17.93vw;
  }
}

.banner-1 .banner-1-build-computer {
  width: 100%;
  left: 0;
  bottom: 4vw;
}

@media (max-width: 375px) {
  .banner-1 .banner-1-build-computer {
    display: none;
  }
}

.banner-1 .banner-1-build-phone {
  width: 134.76vw;
  left: -26.46vw;
  bottom: 17.93vw;
  display: none;
}

@media (max-width: 375px) {
  .banner-1 .banner-1-build-phone {
    display: block;
  }
}

.banner-1 .banner-1-redcloth {
  width: 100vw;
  left: 0;
  bottom: 0vw;
  display: block;
}

@media (max-width: 375px) {
  .banner-1 .banner-1-redcloth {
    width: 122.86vw;
    left: -11.08vw;
  }
}

.banner-1 .brand {
  width: 2.15vw;
  right: 1.56vw;
  bottom: 4.57vw;
}

@media (max-width: 375px) {
  .banner-1 .brand {
    display: none;
  }
}

.banner-2 {
  width: 100vw;
  padding-top: 5.21vw;
}

@media (max-width: 375px) {
  .banner-2 {
    height: 244.19vw;
    padding-top: 6.35vw;
  }
}

.banner-2 .banner-2-title {
  width: 29.13vw;
  margin: 0 auto 4.49vw;
  display: block;
}

@media (max-width: 375px) {
  .banner-2 .banner-2-title {
    width: 61.28vw;
    margin: 0 auto 8.11vw;
  }
}

.banner-2 .swiper {
  width: 74.74vw;
  height: 13.80vw;
  margin-left: 12.89vw;
  margin-right: 0;
}

@media (max-width: 375px) {
  .banner-2 .swiper {
    width: 100vw;
    height: 53.33vw;
    margin-left: 3.96vw;
  }
}

.banner-2 .swiper .swiper-wrapper {
  flex-direction: row;
}

.banner-2 .swiper .swiper-wrapper .swiper-slide {
  width: 13.80vw !important;
  margin-left: 1.30vw;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 375px) {
  .banner-2 .swiper .swiper-wrapper .swiper-slide {
    width: 53.33vw !important;
    height: 53.33vw !important;
    margin-left: 0;
  }
}

.banner-2 .swiper .swiper-wrapper .swiper-slide .swiper-img {
  width: 13.80vw;
  display: block;
}

@media (max-width: 375px) {
  .banner-2 .swiper .swiper-wrapper .swiper-slide .swiper-img {
    width: 53.33vw;
  }
}

.banner-2 .swiper .swiper-wrapper .swiper-slide-1 {
  margin-left: 0;
}

.banner-2 .swiper-button-prev {
  content: url("./img/banner-2/svg/箭頭-左.svg");
  width: 1.18vw;
  left: 9.62vw;
  display: block;
  transform: translateY(-50%);
}

.banner-2 .swiper-button-next {
  content: url("./img/banner-2/svg/箭頭-右.svg");
  width: 1.18vw;
  right: 9.62vw;
  display: block;
  transform: translateY(-50%);
}

.banner-2 .banner-2-star {
  width: 93.09vw;
  top: 31.36vw;
  left: 5.26vw;
}

.banner-2 .banner-2-unicorn {
  width: 18.07vw;
  bottom: 0;
  left: 3.95vw;
}

.banner-2 .banner-2-build {
  width: 100vw;
  bottom: 0;
  left: 0;
}

.banner-2 .plate-container {
  margin-left: 22.15vw;
  bottom: 2.34vw;
}

.banner-2 .plate {
  width: 10.98vw;
  margin-left: 1.24vw;
  cursor: pointer;
}

.banner-3 {
  padding-top: 7.16vw;
  padding-left: 21.72vw;
}

@media (max-width: 375px) {
  .banner-3 {
    height: 192.38vw;
  }
}

.banner-3 .games-information {
  width: 9.68vw;
  height: 33.56vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.banner-3 .games-information .banner-3-title {
  width: 6.14vw;
}

.banner-3 .games-information .lottery {
  width: 9.68vw;
}

.banner-3 .games {
  width: 42vw;
  position: absolute;
  top: 7.03vw;
  left: 33.48vw;
  z-index: 1;
}

.banner-3 .games .games-btn {
  width: 13.12vw;
  cursor: pointer;
}

.banner-3 .banner-3-star {
  width: 94.46vw;
  top: 5.95vw;
  left: 2.14vw;
}

.banner-3 .banner-3-lantern {
  width: 19.91vw;
  top: 21.14vw;
  left: -1.33vw;
}

.banner-3 .banner-3-bridge {
  width: 24.82vw;
  left: 0.78vw;
  bottom: -0.16vw;
  z-index: -3;
}

.banner-3 .banner-3-cloud-4 {
  width: 22.61vw;
  left: 1.61vw;
  bottom: -0.65vw;
  z-index: -1;
}

.banner-3 .banner-3-cloud-5 {
  width: 20.89vw;
  left: -2.16vw;
  bottom: -0.74vw;
  z-index: -2;
}

.banner-3 .banner-3-cloud-1 {
  width: 14.22vw;
  right: -1.42vw;
  bottom: -0.51vw;
  z-index: -1;
}

.banner-3 .banner-3-cloud-2 {
  width: 19.71vw;
  right: -0.89vw;
  bottom: -0.63vw;
  z-index: -2;
}

.banner-3 .banner-3-unicorn {
  width: 17.66vw;
  right: 6.37vw;
  bottom: 1.06vw;
  z-index: -3;
}

.banner-3 .banner-3-cloud-3 {
  width: 18.82vw;
  right: -3.86vw;
  bottom: -0.75vw;
  z-index: -4;
}

.banner-3 .banner-3-moon {
  width: 13.68vw;
  right: 0;
  bottom: 5.97vw;
  z-index: -5;
}

.banner-4 {
  width: 100vw;
  z-index: 0;
  background-color: #000000;
  padding-top: 14.31vw;
}

@media (max-width: 375px) {
  .banner-4 {
    height: 128.31vw;
  }
}

.banner-4 .banner-4-title {
  width: 14.94vw;
  margin: 0 auto 2.39vw;
  display: block;
}

.banner-4 .swiper {
  width: 73.74vw;
  height: 11.87vw;
  margin-left: 13.10vw;
  margin-right: 0;
}

.banner-4 .swiper .swiper-wrapper .swiper-slide {
  width: 21.35vw !important;
  margin-left: 0.8vw;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-4 .swiper .swiper-wrapper .swiper-slide .swiper-img {
  width: 21.35vw;
  display: block;
}

.banner-4 .swiper .swiper-wrapper .swiper-slide-1 {
  margin-left: 0;
}

.banner-4 .swiper-button-prev {
  content: url("./img/banner-2/svg/箭頭-左.svg");
  width: 1.18vw;
  left: 9.62vw;
  display: block;
  margin-top: 0;
}

.banner-4 .swiper-button-next {
  content: url("./img/banner-2/svg/箭頭-右.svg");
  width: 1.18vw;
  right: 9.62vw;
  display: block;
  margin-top: 0;
}

.banner-4 .banner-4-lantern {
  width: 111.83vw;
  top: 0;
}

.banner-4 .role-1 {
  width: 8.11vw;
  left: 12.27vw;
  bottom: 0.47vw;
}

.banner-4 .role-2 {
  width: 10.74vw;
  left: 17.95vw;
  bottom: 0.38vw;
}

.banner-4 .role-3 {
  width: 7.61vw;
  left: 28.15vw;
  bottom: 0;
}

.banner-4 .role-4 {
  width: 10.78vw;
  left: 62.82vw;
  bottom: 0.47vw;
}

.banner-4 .role-5 {
  width: 9.75vw;
  left: 72.04vw;
  bottom: 0.47vw;
}

.banner-4 .role-6 {
  width: 7.24vw;
  left: 80.53vw;
  bottom: 0.47vw;
}

.banner-4 .banner-4-build {
  width: 104.21vw;
  bottom: 1.33vw;
  z-index: -2;
}

.banner-4 .banner-4-redcloth {
  width: 100vw;
  left: 0;
  bottom: 0;
  z-index: -1;
}
/*# sourceMappingURL=index(全部VW版).css.map */